<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Художники | Artflow</title>
    <meta name="description" content="Learn about Row Gallery artists" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/images/favicon-32x32.png"
    />
    <link rel="manifest" href="assets/images/site.webmanifest" />
    <link
      rel="mask-icon"
      href="assets/images/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="keywords" content="artists, art gallery, contemporary art" />
    <meta name="author" content="Row Gallery" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/e4ffee1eee.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container" id="page-top">
          <a class="navbar-brand" href="index.html">
            <span class="logo">Artflow</span>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="exhibitions.html">Выставки</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="artists.html"
                  >Художники<span class="sr-only">(текущая)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Контакты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="catalog.html">Каталог</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <hr />
    </header>

    <section>
      <h1 class="title sub-page-header">Художники</h1>
      <div class="page-nav">
        <p>
          <span class="page-nav-item inline-block small"
            ><a
              href="#artist-one"
              aria-label="Перейдите к разделу про Евгения Антуфьева"
              >Евгений Антуфьев</a
            ></span
          >
          <span class="page-nav-item inline-block small"
            ><a
              href="#artist-two"
              aria-label="Перейдите к разделу про Алису Йоффе"
              >Алиса Йоффе</a
            ></span
          >
        </p>
      </div>
    </section>

    <section id="artist-one">
      <div class="container-fluid page-section-color-bg">
        <div class="container">
          <div class="row row-section">
            <div class="col-12 col-md-7 col-lg-8 large-image">
              <img
                src="assets/images/artist-5-row-gallery-artwork.jpg"
                alt="abstract painting by artist Евгений Антуфьев"
              />
            </div>
            <div class="col-12 col-md-5 col-lg-4 text-sm-right right-hand-text">
              <h2 class="title">Евгений Антуфьев</h2>
              <p class="lead">
                "Я использую свою практику, чтобы привнести порядок в хаос
                повседневной жизни; энергия и движение становятся видимыми, мои
                мысли замедляются в пространстве."
              </p>
              <p class="small">Евгений Антуфьев</p>
            </div>
          </div>
          <div class="row pt-sm-5 pb-sm-4">
            <div class="col-12 col-md-5 col-lg-4 pr-sm-5">
              <div class="d-inline artist-portrait">
                <img
                  src="assets/images/evgeniy.jpg"
                  alt="portrait of artist Евгений Антуфьев"
                />
              </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
              <div class="row">
                <div class="col-12 pl-lg-5">
                  <p class="exhibition-text text-left">
                    Вдохновленные разнообразным набором материалов,
                    крупномасштабные акриловые картины Евгения Антуфьев
                    представляют собой сочетание цвета, движения и ритма. Его
                    смелые, многослойные композиции, напоминающие поп-арт,
                    предлагают множество фокусных точек и удерживают взгляд в
                    постоянном движении.
                  </p>
                  <p class="exhibition-text text-left">
                    Его абстрагированные изображения повседневных сцен обладают,
                    как он выражает это, "торопливой и неистовой энергией", но
                    при этом излучают чрезвычайно богатое чувство глубины и
                    уверенности. "Когда я рисую, я никогда не уверен в том,
                    каким будет результат", - говорит Евгений, - "таким образом,
                    картина становится документацией моего процесса, со всеми
                    ошибками".
                  </p>
                  <p class="exhibition-text text-left d-none d-sm-block">
                    Антуфьев стал единственным представителем России на
                    Европейской биеннале современного искусства Manifesta 11 в
                    2016 году. Художник принимал участие в важных международных
                    и российских групповых выставках.
                  </p>
                  <div class="two-buttons text-sm-left">
                    <a
                      class="btn btn-outline-light"
                      href="https://www.instagram.com/"
                      rel="noopener"
                      target="_blank"
                      role="button"
                      >Посетите Instagram автора
                      <i class="fa-solid fa-angle-right"></i
                    ></a>
                    <a
                      class="btn btn-outline-light"
                      href="contact.html"
                      role="button"
                      >Подробнее <i class="fa-solid fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="artist-two">
      <div class="page-section-plain-bg">
        <div class="container">
          <div class="row row-section">
            <div class="col-12 col-md-7 col-lg-8 large-image order-sm-2">
              <img
                src="assets/images/alisa_yoffe.jpg"
                alt="artist painting onto a screenprint"
              />
            </div>
            <div
              class="col-12 col-md-5 col-lg-4 text-sm-left left-hand-text order-sm-1"
            >
              <h2 class="title">Алиса Йоффе</h2>
              <p class="lead">
                "Мои краски не ограничиваются холстом – они взлетают, наполняя
                пространство выставки. В каждой абстракции мой кистевой след –
                это мой голос, переосмысливающий мир в ярких красках и формах.
                Мое искусство не знает границ, оно становится живым разговором с
                окружающим миром."
              </p>
              <p class="small">Алиса Йоффе</p>
            </div>
          </div>
          <div class="row pt-sm-5 pb-sm-4">
            <div class="col-12 col-md-5 col-lg-4 pl-sm-5 order-sm-2">
              <div class="d-inline artist-working">
                <video src="assets/video/alice_painting.mp4" controls muted>
                  <p>Ваш браузер не поддерживает видео HTML5.</p>
                  <img
                    src="assets/images/artist-4-row-gallery-artwork.jpg"
                    alt="artist painting onto a screenprint"
                  />
                </video>
              </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8 order-sm-1">
              <div class="row">
                <div class="col-12 pr-lg-5">
                  <p class="exhibition-text text-left">
                    Родилась в 1987 в Ташкенте. Живет и работает в Москве. В
                    2005–2007 годах проходила обучение в «Свободных мастерских»
                    при Московском музее современного искусства. С 2007 по 2008
                    год училась в Институте проблем современного искусства в
                    Москве. С 2014 года Алиса Йоффе сотрудничает с группой
                    «Панк-фракция Красных Бригад». С 2016 года является
                    участницей творческого объединения «Антиколесо».
                  </p>
                  <p class="exhibition-text text-left">
                    Алиса Йоффе создает яркие цветные абстракции различными
                    кистями, экспериментируя с техникой рисования. В ее работах
                    абстрактный стиль, вдохновение выходит за рамки холста,
                    заполняя пространство. Предпочитает большие тканевые полотна
                    и рулоны бумаги. Выставки Йоффе превращаются в цветные
                    инсталляции, где абстрактные пейзажи занимают все
                    поверхности. Ее характерный стиль – яркие абстракции на
                    фоне, подчеркнутые красочными деталями, отражающими
                    социокультурные и политические темы.
                  </p>
                  <p class="exhibition-text text-left d-none d-sm-block">
                    Персональные выставки Алисы Йоффе проходили в фонде
                    Владимира Смирнова и Константина Сорокина, Москва (2018), в
                    музее Art4, Москва (2017); в Vaxjo konsthall, Вeкшё, Швеция
                    (2016).
                  </p>
                  <div class="two-buttons text-sm-left">
                    <a
                      class="btn btn1-outline-dark"
                      href="https://www.instagram.com/"
                      rel="noopener"
                      target="_blank"
                      role="button"
                      >Посетите Instagram автора
                      <i class="fa-solid fa-angle-right"></i
                    ></a>
                    <a
                      class="btn btn1-outline-dark"
                      href="contact.html"
                      role="button"
                      >Подробнее <i class="fa-solid fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container-fluid page-section-color-bg">
      <div class="container">
        <div class="row">
          <div class="col-12 one-button">
            <a class="btn btn-light" href="#page-top" role="button"
              >Вернуться к началу <i class="fa-solid fa-angle-up"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <footer class="container-fluid">
      <div class="container">
        <div id="footer-details" class="row align-items-center">
          <div class="col-sm-6 text-sm-left contact-details">
            <h5 class="general-sub">Artflow</h5>
            <p class="small">
              Artflow, Моховая улица, 13, Москва, Россия<br />
              Тел: <a href="tel:79177637777">+7 917 763-77-77</a><br />
              Почта:
              <a href="mailto:artflow@mail.ru">artflow@mail.ru</a>
            </p>
          </div>
          <div class="col-sm-6 text-sm-right">
            <ul class="list-inline social-links">
              <li class="list-inline-item">
                <a target="_blank" href="https://www.youtube.com">
                  <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                  <span class="sr-only">Youtube</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://desktop.telegram.org">
                  <i class="fa fa-telegram" aria-hidden="true"></i>
                  <span class="sr-only">Telegram</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.instagram.com">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                  <span class="sr-only">Instagram</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="col-12 d-flex justify-content-center">
          <p class="small copyright">
            © 2023 Artflow, автор Степанов Антон ИКБО-30-22. Все права защищены.
          </p>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
      integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
      crossorigin="anonymous"
    ></script>

    <script src="scroll.js"></script>
  </body>
</html>
