<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная | Artflow</title>
    <meta
      name="description"
      content="Международный Дом изобразительного искусства в Москве"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="css/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="css/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="css/images/favicon-32x32.png"
    />
    <link rel="manifest" href="css/images/site.webmanifest" />
    <link
      rel="mask-icon"
      href="css/images/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="keywords"
      content="exhibitions, contemporary art, artists, Moscow, things to do in Moscow"
    />
    <meta name="author" content="Artflow" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/e4ffee1eee.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Marmelad&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container" id="page-top">
          <a class="navbar-brand" href="admin">
            <span class="logo">Artflow</span>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="index"
                  >Главная <span class="sr-only">(текущая)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about">О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact">Контакты</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="catalog">Каталог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login">Войти</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="registration_page">Регистрация</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="jumbotron jumbotron-fluid">
      <img
        class="wave-background"
        src="css/images/wave-7.svg"
        alt="wave background"
      />
    </div>

    <div class="container lead-hero">
      <h1 class="title h1">Дом изобразительного искусства в Москве</h1>
      <p class="lead p">Откройте для себя красоту искусства</p>
    </div>

    <section>
      <div class="container-fluid page-section-color-bg">
        <div class="container">
          <div class="row row-section">
            <div class="col-12 col-md-6 large-image">
              <img
                src="css/images/index_exhibs.jpg"
                alt="a woman viewing an exhibition"
              />
            </div>
            <div class="col-12 col-md-6 text-sm-right right-hand-text pr-lg-5">
              <h2 class="title homepage-section-title">Текущие события</h2>
              <div class="d-flex justify-content-end">
                <div class="set-width">
                  <p class="lead homepage-section-text">
                    Познакомьтесь с нашими текущими выставками работ
                    международных художников.
                  </p>
                </div>
              </div>
              <a
                role="button"
                class="btn btn-outline-light"
                href="contact"
                >Подробнее <i class="fa-solid fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="page-section-plain-bg">
        <div class="container">
          <div class="row row-section">
            <div class="col-12 col-md-6 large-image order-sm-12">
              <img
                src="css/images/index_artists.jpg"
                alt="hand holding a paintbrush in an artist's studio"
              />
            </div>
            <div
              class="col-12 col-md-6 text-sm-left order-sm-1 left-hand-text pl-lg-5"
            >
              <h2 class="title homepage-section-title">
                Познакомьтесь с художниками
              </h2>
              <div class="set-width">
                <p class="lead homepage-section-text">
                  Откройте для себя новые таланты и малоизвестных художников,
                  которые присутствовали на выставке.
                </p>
              </div>
              <a role="button" class="btn btn1-outline-dark" href="contact"
                >Подробнее <i class="fa-solid fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container-fluid page-section-color-bg">
        <div class="container">
          <div class="row row-section">
            <div class="col-12 col-md-6 large-image">
              <img
                src="css/images/index_about_gallery.jpg"
                alt="grassy landscape with dark timber clad buildings"
              />
            </div>
            <div class="col-12 col-md-6 text-sm-right right-hand-text pr-lg-5">
              <h2 class="title homepage-section-title">Про Artflow</h2>
              <div class="d-flex justify-content-end">
                <div class="set-width">
                  <p class="lead homepage-section-text">
                    Узнайте больше о нас, ознакомьтесь с графиком работы и
                    спланируйте свой визит в нашу галерею.
                  </p>
                </div>
              </div>
              <a role="button" class="btn btn-outline-light" href="about"
                >Подробнее <i class="fa-solid fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="page3-section-plain-bg">
        <div class="container">
          <div class="row row-section">
            <div class="col-12 col-md-6 large-image order-sm-12">
              <img
                src="css/images/index_contact.jpg"
                alt="work on an easel in an artist's studio"
              />
            </div>
            <div
              class="col-12 col-md-6 text-sm-left order-sm-1 left-hand-text pl-lg-5"
            >
              <h2 class="title homepage-section-title">Связаться</h2>
              <div class="set-width">
                <p class="lead homepage-section-text">
                  Наша команда дружелюбных сотрудников всегда готова ответить на
                  ваши вопросы.
                </p>
              </div>
              <a role="button" class="btn btn2-outline-dark" href="contact"
                >Подробнее <i class="fa-solid fa-angle-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="container-fluid">
      <div class="container">
        <div id="footer-details" class="row align-items-center">
          <div class="col-sm-6 text-sm-left contact-details">
            <h5 class="general-sub">Artflow</h5>
            <p class="small">
              Artflow, Моховая улица, 13, Москва, Россия<br />
              Тел: <a href="tel:79177637777">+7 917 763-77-77</a><br />
              Почта:
              <a href="mailto:artflow@mail.ru">artflow@mail.ru</a>
            </p>
          </div>
          <div class="col-sm-6 text-sm-right">
            <ul class="list-inline social-links">
              <li class="list-inline-item">
                <a target="_blank" href="https://www.youtube.com">
                  <i class="fa-brands fa-youtube" aria-hidden="true"></i>
                  <span class="sr-only">Youtube</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://desktop.telegram.org">
                  <i class="fa fa-telegram" aria-hidden="true"></i>
                  <span class="sr-only">Telegram</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" href="https://www.instagram.com">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                  <span class="sr-only">Instagram</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="col-12 d-flex justify-content-center">
          <p class="small copyright">
            © 2024 Artflow, автор Степанов Антон ИКБО-30-22. Все права защищены.
          </p>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
      integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
